@page
@model DentistPortal_Client.Pages.DentistProfileModel
@{
    @Html.AntiForgeryToken()
    Layout = "";

    <head>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/DentistProfile.js"></script>
        <link rel="stylesheet" href="~/css/EditProfile.css">
    </head>

    <div class="container">
        <div class="content">
            <img src="@Model.LoggedDentist.ProfilePicture" alt="header-image" class="cld-responsive">
            <div style="padding: 50px;">
                <div style="padding:5px">
                    <label class="form-label">Username</label>
                    <input class="ForEdit" id="username" value="@Model.LoggedDentist.Username" disabled>
                    <!--<input type="submit" value="update" class="Submit" disabled>
                    <input type="submit" value="edit" class="edit">-->
                    <div style="display:inline; cursor:pointer; text-decoration:underline;" class="edit">Edit</div>
                </div>
                <div style="padding:4px">
                    <label class="form-label">First Name</label>
                    <input class="ForEdit" id="firstname" value="@Model.LoggedDentist.FirstName" disabled>
                    <!--<input type="submit" value="update" class="Submit" disabled>
                    <input type="submit" value="edit" class="edit">-->
                    <div style="display:inline; cursor:pointer; text-decoration:underline;" class="edit">Edit</div>
                </div>
                <div style="padding:4px">
                    <label class="form-label">Last Name</label>
                    <input class="ForEdit" id="lastname" value="@Model.LoggedDentist.LastName" disabled>
                    <!--<input type="submit" value="update" class="Submit" disabled>
                    <input type="submit" value="edit" class="edit">-->
                    <div style="display:inline; cursor:pointer; text-decoration:underline;" class="edit">Edit</div>
                </div>
                <div style="padding:5px">
                    <label class="form-label">Password</label>
                    <input class="ForEdit" id="password" value="password" type="password" disabled>
                    <!--<input type="submit" value="update" class="Submit" disabled>
                    <input type="submit" value="edit" class="edit">-->
                    <div style="display:inline; cursor:pointer; text-decoration:underline;" class="edit">Edit</div>
                </div>
                <div style="padding:4px">
                    <label class="form-label">University</label>
                    <input class="ForEdit" id="university" value="@Model.LoggedDentist.University" disabled>
                    <!--<input type="submit" value="update" class="Submit" disabled>
                    <input type="submit" value="edit" class="edit">-->
                    <div style="display:inline; cursor:pointer; text-decoration:underline;" class="edit">Edit</div>
                </div>
                <div style="padding:4px">
                    <label class="form-label">Level</label>
                    <input class="ForEdit" id="level" value="@Model.LoggedDentist.Level" disabled>
                    <!--<input type="submit" value="update" class="Submit" disabled>
                    <input type="submit" value="edit" class="edit">-->
                    <div style="display:inline; cursor:pointer; text-decoration:underline;" class="edit">Edit</div>
                </div>
                <div style="padding:3px">
                    <form style="display: contents;" method="post" enctype="multipart/form-data">
                        <label class="form-label">Change Image</label>
                        <input id="newimage" asp-for="obj.ProfilePicture" type="file" style="width: 185px;">
                        <input type="submit" value="update" class="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>




    /*<div style="margin-top:100px">
            <div>
            <label class="form-label">Username</label>
            <input class="ForEdit" id="username" value="@Model.LoggedDentist.Username" disabled>
            <input type="submit" value="update" class="Submit" disabled>
            <input type="submit" value="edit" class="edit">
        </div>
            <div>
            <label class="form-label">First Name</label>
            <input class="ForEdit" id="firstname" value="@Model.LoggedDentist.FirstName" disabled>
            <input type="submit" value="update" class="Submit" disabled>
            <input type="submit" value="edit" class="edit">
        </div>
            <div>
            <label class="form-label">Last Name</label>
            <input class="ForEdit" id="lastname" value="@Model.LoggedDentist.LastName" disabled>
            <input type="submit" value="update" class="Submit" disabled>
            <input type="submit" value="edit" class="edit">
        </div>
            <div>
            <label class="form-label">University</label>
            <input class="ForEdit" id="university" value="@Model.LoggedDentist.University" disabled>
            <input type="submit" value="update" class="Submit" disabled>
            <input type="submit" value="edit" class="edit">
        </div>
            <div>
            <label class="form-label">Level</label>
            <input class="ForEdit" id="level" value="@Model.LoggedDentist.Level" disabled>
            <input type="submit" value="update" class="Submit" disabled>
            <input type="submit" value="edit" class="edit">
        </div>
            <div>
            <label class="form-label">Password</label>
            <input class="ForEdit" id="password" value="password" type="password" disabled>
            <input type="submit" value="update" class="Submit" disabled>
            <input type="submit" value="edit" class="edit">
        </div>
        <form method="post" enctype="multipart/form-data">
            <div style="box-sizing:border-box ; clear:both ; display:table">
                <div style="float: left; width: 33.33%; padding: 5px;">
                    <img src="@Model.LoggedDentist.ProfilePicture" alt="..." width="500" height="400" />
                    <input asp-for="obj.ProfilePicture" class="form-control" type="file">
                    <label class="form-label">Change Image</label>
                </div>
                <div style="float: left; width: 33.33%; padding: 5px;">
                    <img src="@Model.LoggedDentist.UniversityCardPicture" alt="..." width="600" height="400" />
                    <input asp-for="obj.UniversityCardPicture" class="form-control" type="file">
                    <label class="form-label">Change Image</label>
                </div>
                <div style="float: left; width: 33.33%; padding: 5px;">
                    <img src="@Model.LoggedDentist.IdentityCardPicture" alt="..." width="400" height="400" />
                    <input asp-for="obj.IdentityCardPicture" class="form-control" type="file" >
                    <label class="form-label">Change Image</label>
            </div>
            </div>
            <button type="submit" class="btn btn-success btn-block mb-3"><i class="bi bi-patch-plus"> Save Changes</i></button>
    </form>
    </div>*/
}


@section Scripts
        {
            <script src="/js/DentistProfile.js"></script>
        }
