@page
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model DentistPortal_Client.Pages.ViewProfileModel
@{
    Layout = "";

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='twitterprofile.css'>
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/css/ViewProfile.css">
        <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
        <link rel="stylesheet" href="~/css/Navbar.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>

    
    <div id="totop"></div>
    <a href="#totop" class="fa fa-arrow-up" id="fixedarrow"></a>
   
    <nav style="display:flex; align-items:center;">
        <div class="logo"><a class="logo" href="/Home"><img src="~/Images/logo-white.png" width="100%" height="90px" /></a></div>
        <input type="checkbox" id="check" />
        <label for="check" class="check-btn">
            <i class="bi bi-list"></i>
        </label>
        <ul @*style="display:flex; justify-content:flex-end; margin-bottom:0;"*@>
            @if (HttpContextAccessor.HttpContext.Session.GetString("Token") == null)
            {
                <li><a class="active" href="/DoctorPages/Clinics/DisplayClinics">Clinics</a></li>
                <li><a href="/DoctorPages/MedicalCases/DisplayMedicalCases">Medical Cases</a></li>
                <li><a href="/DoctorPages/Tools/DisplayTools">Tools</a></li>
                <li><a href="/DoctorPages/Jobs/DisplayJobs">Jobs</a></li>
                <li><a href="/Login">Login</a></li>
            }
            else if (HttpContextAccessor.HttpContext.Session.GetString("role") == "Dentist")
            {
                <li><a class="active" href="/DoctorPages/Clinics/DisplayClinics">Clinics</a></li>
                <li><a href="/DoctorPages/MedicalCases/DisplayMedicalCases">Medical Cases</a></li>
                <li><a href="/DoctorPages/Tools/DisplayTools">Tools</a></li>
                <li><a href="/DoctorPages/Jobs/DisplayJobs">Jobs</a></li>
                <div class="dropdown">
                    <a class="nav-profile-picture dropdown-toggle btn-danger" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><img class="nav-profile-picture" src="@HttpContextAccessor.HttpContext.Session.GetString("profilePicture")" /></a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/ViewProfile"><i class="bi bi-person-circle" style="font-style:normal"> Profile</i></a></li>
                        <li><a class="dropdown-item" href="/Home?clear=yes"><i class="bi bi-box-arrow-in-right" style="font-style:normal"> Log Out</i></a></li>
                    </ul>
                </div>
            }
            else if (HttpContextAccessor.HttpContext.Session.GetString("role") == "Admin")
            {
                <li><a class="active" href="/Home?clear=yes">Log Out</a></li>
            }
            else
            {
                <li><a class="active" href="/DoctorPages/Clinics/DisplayClinics">Clinics</a></li>
                <li><a href="/PatientPages/MyCases_Patient">Find me a doctor</a></li>
                <div class="dropdown">
                    <a class="nav-profile-picture dropdown-toggle btn-danger" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="display:flex; align-items:center;"><img class="nav-profile-picture" src="@HttpContextAccessor.HttpContext.Session.GetString("profilePicture")" /></a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/ViewPatientProfile"><i class="bi bi-person-circle" style="font-style:normal"> Profile</i></a></li>
                        <li><a class="dropdown-item" href="/Home?clear=yes"><i class="bi bi-box-arrow-in-right" style="font-style:normal"> Log Out</i></a></li>
                    </ul>
                </div>
            }
        </ul>
    </nav>

    <div class="flexcontainer">
        <div class="middlecontainer">

            <section class="twitterprofile">
                <div class="headerprofileimage">
                    <br> <br> <br> <br>
                    <img src="@Model.profileData.dentist.ProfilePicture" alt="profile pic" id="profilepic">
                    <a href="/DentistProfile"><div class="editprofile">Edit Profile</div></a>
                </div>
                <div class="bio">
                    <div class="handle">
                        <h3>@Model.profileData.dentist.FirstName @Model.profileData.dentist.LastName</h3>
                        <span>@@@Model.profileData.dentist.Username</span>
                    </div>

                    <div class="personal-info">
                        <p>Dental Student</p>
                        <p>University | @Model.profileData.dentist.University</p>
                        @if (Model.profileData.dentist.Graduated == false)
                        {
                            <p>Level | @Model.profileData.dentist.Level</p>
                        }
                    </div>
                    <br>
            </section>

            <section>
                <div class="heading"></div>
            </section>


            <!-- post -->
            @foreach (var item in Model.profileData.dentistcases)
            {
                <section class="post-section">
                    <div class="post-container">
                        <div class="post-card">
                            <div class="top">
                                <div class="userDeatils">
                                    <div class="profileImg">
                                        <img src="@Model.profileData.dentist.ProfilePicture" alt="user" class="cover1">
                                    </div>
                                    <h3>@Model.profileData.dentist.FirstName @Model.profileData.dentist.LastName<br><span>@HttpContextAccessor.HttpContext.Session.GetString("role")</span></h3>
                                </div>

                            </div>
                            <div class="caption">
                                @item.DoctorWork
                            </div>
                            <div class="post-row">
                                <div class="post-column">
                                    <div class="imgBg">
                                        <img src="@item.BeforePicture" alt="bg" class="cover">
                                    </div>
                                </div>

                                <div class="post-column">
                                    <div class="imgBg">
                                        <img src="@item.AfterPicture" alt="bg" class="cover">
                                    </div>
                                </div>
                            </div>  <br><br><br>
                        </div>
                    </div>
                </section>
                
            }
    </html>

}
