@page
@model DentistPortal_Client.Pages.AdminPages.VerifyPageModel
@{
    int counter = 0;
    <div class="accordion" id="accordionExample ">
        @foreach (var user in Model.Dentists)
        {
            <div class="myaccordion ">
                <div class="accordion-item">
                    <h2 class="accordion-header" id=@("heading"+counter)>
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=@("#collapse" + @counter) aria-controls=@("collapse"+@counter) aria-expanded="true">
                            @user.Username
                        </button>
                    </h2>
                    <div id=@("collapse"+@counter) class="accordion-collapse collapse" aria-labelledby=@("heading"+@counter) data-bs-parent="#accordionExample">
                        <div class="accordion-body justify-content-center">
                            <div class="row justify-content-center">
                                <!-- Data-->
                                <div class="col">
                                    <label>First Name:</label>
                                    @user.FirstName
                                </div>
                                <div class="col">
                                    <label>Last Name:</label>
                                    @user.LastName
                                </div>
                                <div class="col">
                                    <label>Graduated:</label>
                                    @user.Graduated
                                </div>
                                <div class="col">
                                    <label>University:</label>
                                    @user.University
                                </div>
                                <div class="col">
                                    <label>Level:</label>
                                    @user.Level
                                </div>
                            </div>
                            <br>
                            <div class="card mycard justify-content-center">
                                <div class="row g0">
                                    <div class="row" style="max-width:400px;max-height:400px;">
                                        <!-- Images-->
                                        <label>Identity Card</label>
                                        <img src="@user.IdentityCardPicture">
                                    </div>
                                    <div class="row" style="max-width:400px;max-height:400px;">
                                        <label>University Card</label>
                                        <img src="@user.UniversityCardPicture">
                                    </div>
                                    <div class="row" style="max-width:400px;max-height:400px;">
                                        <label>Profile Picture</label>
                                        <img src="@user.ProfilePicture">
                                    </div>
                                    <div class="row">
                                        <div class="card-body mycardbody">
                                            <div class="justify-content-between align-items-center">
                                                <!-- Button trigger unverify modal -->
                                                <button type="button" class="btn mybtn btn-success" data-bs-toggle="modal" data-bs-target=@("#verifyModal" + @counter)>
                                                    Verify User
                                                </button>

                                                <!-- Button trigger unverify modal -->
                                                <button type="button" class="btn mybtn btn-danger" data-bs-toggle="modal" data-bs-target=@("#unverifyModal" + @counter)>
                                                    Unverify User
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Unverify Modal -->
            <div class="modal fade" id=@("unverifyModal"+@counter) tabindex="-1" aria-labelledby="unverifyModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" style="color:black">Unverify User</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="details">
                                <form method="post" class="align-content-center col-6 w-100 needs-validation" style="margin:auto;text-align:center;color:#1A2238;" novalidate>
                                    <input name="id" value="@user.Id" hidden>
                                    <textarea name="msg" class="form-control resize" rows="5" id="floatingPatientDescription" placeholder="Verify Message" style="height: 114px;"></textarea>
                                    <br>
                                    <button asp-page-handler="UnverifyUser" type="submit" class="btn btn-danger btn-block mb-3"><i class="bi bi-pencil-square"> Unverify</i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Verify User-->
            <div class="modal fade" id=@("verifyModal"+counter) tabindex="-1" aria-labelledby="verifyModalModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="text-align:center">
                            Are you sure?
                            <br />
                            You won't be able to revert this!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form asp-page-handler="VerifyUser" asp-route-id="@user.Id" method="post">
                                <button type="submit" class="btn btn-success" style="margin-right:125px" data-bs-dismiss="modal">Yes, verify it!</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            counter++;
        }
    </div>
}
@if (@Model.Msg != null)
{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    if (@Model.Status == "success")
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'success',
                title: '@Model.Msg',
                showConfirmButton: false,
                timer: 1500
            })
        </script>
    }
    else if (@Model.Status == "error")
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'error',
                title: '@Model.Msg',
                showConfirmButton: true
            })
        </script>
    }
}